{% extends 'base.html' %}
{% load i18n %}


{% block content %}
    <div class="row">
        <div class="col">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            <h1>{{ title }}</h1>
            <a href="{% url 'create-task-page' %}" class="btn btn-success mt-2 mb-4">{{ button_text }}</a>
            <div class="row">
                <div class="col-9 col-sm-8 col-md-6 mb-3">
                    <div class="p-3 shadow">
                        <form method="get">
                        {% csrf_token %}
                            <div class="form-floating">
                                {{ filter.form.status }}
                                <label for="{{ filter.form.status.id_for_label }}">{{ filter.form.status.label }}</label>
                            </div>
                            <div class="form-floating">
                                {{ filter.form.executor }}
                                <label for="{{ filter.form.executor.id_for_label }}">{{ filter.form.executor.label }}</label>
                            </div>
                            <div class="form-floating">
                                {{ filter.form.label }}
                                <label for="{{ filter.form.label.id_for_label }}">{{ filter.form.label.label }}</label>
                            </div>
                            <div class="form-check form-switch">
                                {{ filter.form.self_tasks }}
                                <label class="form-check-label mt-1" for="{{ filter.form.self_tasks.id_for_label }}">{{ filter.form.self_tasks.label }}</label>
                            </div>
                            <button type="submit" class="btn btn-success mt-2">{{ button_filter_text }}</button>
                        </form>
                    </div>
                </div>
            </div>
            <table class="table table-light table-responsive table-striped shadow mt-2">
                <thead class="table-secondary">
                    <tr>
                        <th>ID</th>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Status" %}</th>
                        <th>{% trans "Author" %}</th>
                        <th>{% trans "Executor" %}</th>
                        <th colspan="2">{% trans "Creation date" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.id }}</td>
                            <td><a href="{% url 'task-detail-page' task.id %}">{{ task.name }}</a></td>
                            <td>{{ task.status }}</td>
                            <td>{{ task.author }}</td>
                            <td>{{ task.executor|default:'' }}</td>
                            <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
                            <td><a class="mb-2 btn btn-sm btn-success" href="{% url 'update-task-page' task.id %}">{% trans "Edit" %}</a><br><a class="btn btn-sm btn-outline-danger" href="{% url 'delete-task-page' task.id %}">{% trans "Delete" %}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}