{% extends 'base.html' %}
{% load i18n %}


{% block content %}
    <div class="row">
        <div class="col">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            <h1>{{ title }}</h1>
            <table class="table table-light table-responsive table-striped shadow">
                <thead class="table-secondary">
                    <tr>
                        <th>ID</th>
                        <th>{% trans "User name" %}</th>
                        <th>{% trans "Full name" %}</th>
                        <th colspan="2">{% trans "Creation date" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.first_name }} {{ user.last_name }}</td>
                            <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
                            <td><a class="mb-2 btn btn-sm btn-success" href="{% url 'update-user-page' user.id %}">{% trans "Edit" %}</a><br><a class="btn btn-sm btn-outline-danger" href="{% url 'delete-user-page' user.id %}">{% trans "Delete" %}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}