{% load django_bootstrap5 %}
{% load i18n %}


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% trans "Task manager" %}{% endblock %}</title>
    {% bootstrap_css %}
</head>

<body class="d-flex flex-column min-vh-100 bg-light">

<header>
    {% include 'header_menu.html' %}
</header>

<main class="flex-grow-1 mt-4">
  <div class="container mt-5">
      {% block content %}{% endblock %}
  </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container border-top">
      <a href="https://github.com/Nafanya-dev/python-project-52">GitHub</a>
  </div>
</footer>
{% bootstrap_javascript %}
</body>
</html>