{% load i18n %}


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand me-5 fs-3" href="{% url 'home-page' %}">{% trans "Task manager" %}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link me-2 fs-5" href="{% url 'user-list-page' %}">{% trans "Users" %}</a>
        </li>
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link me-2 fs-5" href="{% url 'status-list-page' %}">{% trans "Statuses" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="{% url 'label-list-page' %}">{% trans "Tags" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-2 fs-5" href="{% url 'task-list-page' %}">{% trans "Tasks" %}</a>
        </li>
        <li class="nav-item">
            <form action="{% url 'logout-page' %}" method="post">
                {% csrf_token %}
                <input class="nav-link fs-5" type="submit" value="{% trans 'Logout' %}">
            </form>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link me-2 fs-5" href="{% url 'login-page' %}">{% trans "Login" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="{% url 'register-user-page' %}">{% trans "Registration" %}</a>
        </li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>