{% extends 'base.html' %}


{% block content %}
{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
<div class="row">
    <div class="col-11 col-sm-9 col-lg-7">
        <div class="card border-secondary m-5">
            <h1 class="card-header">Task manager</h1>
            <div class="card-body">
                <p>A task management web application built with Python and Django framework. It allows you to set tasks, assign performers and change their statuses. Registration and authentication are required to work with the system. The project uses the Bootstrap framework.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
